---

---
<main id="content" class="pt-24 lg:w-1/2 lg:py-24">
    <section id="about" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24">
        <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
            <h2 class="text-sm font-bold uppercase tracking-widest text-teal-50">About</h2>
        </div>
        <div>
            <p class="mb-4">I am a dedicated front-end web developer, currently advancing my full-stack capabilities through Atlas's immersive web development program. This experience has equipped me with a deep understanding of both the theoretical and practical aspects of modern web development. My journey in technology is driven by a passion for crafting engaging, user-centric digital experiences and a keen interest in exploring the latest web technologies.</p>
            <p class="mb-4">My goal is to transition into a full-stack role, leveraging my front-end expertise and expanding my back-end skills. I am excited about the prospect of joining a team that values teamwork, inclusivity, and making a positive impact through technology. With my laid-back yet proactive approach, I aim to contribute to projects that not only solve problems but also enrich the community.</p>
            <p class="mb-4">Looking forward to merging my love for technology with my commitment to service, and eager to contribute to meaningful projects in the tech sphere.</p>
        </div>
    </section>
    <section id="experience" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24">
        <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
            <h2 class="text-sm font-bold uppercase tracking-widest text-teal-50">Experience</h2>
        </div>
        <div>
            <ol class="group/list">
                <li class="mb-12">
                    <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
                        <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg">
                        <header class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-teal-500 sm:col-span-2">
                            2021 - Present
                        </header>
                        <div class="z-10 sm:col-span-6">
                            <h3 class="font-medium leading-snug text-teal-200">
                                <div>
                                    <a class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300  group/link text-base" href="https://www.atlasschool.com/">
                                    <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                                    <span>Student - <span class="inline-block">Atlas School</span></span>
                                </a>
                                </div>
                                <div class="text-teal-500">Full Stack Web-Developent</div>
                                <p class="mt-2 text-sm leading-normal">Immersed in Atlas School's Full Stack Web Development program, I'm mastering technologies like React, SQL, MongoDB, and Dart, transforming into a versatile software engineer through hands-on projects and collaboration.</p>
                                <ul>
                                    
                                </ul>
                            </h3>
                            
                        </div>
                        </div>
                    </div>

                </li>
            </ol>
        </div>
    </section>

</main>